body {
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
}

.header > img {
  height: 50px;
  margin: 20px;
}

.header > small {
  margin: 35px 50px 10px 100px ;
}

form {
  margin-top: 50px;
}